<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="enlightenment.com.base">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <application
        android:name=".EnlightenmentApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:icon, android:theme">
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PhoneValidationActivity" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".registered.RegisteredActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name="enlightenment.com.main.MainActivity" />
        <activity android:name=".registered.InterestActivity" />
        <activity
            android:name=".registered.InterestDetailsActivity"
            android:theme="@style/Translucent" />
        <activity android:name=".ResetPasswordActivity" />
        <activity
            android:name="enlightenment.com.module.ModulesActivity"
            android:label="@string/title_activity_modules"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="enlightenment.com.search.SearchActivity" />
        <activity android:name="enlightenment.com.resources.PictureActivity" />
        <activity android:name="enlightenment.com.resources.AlbumActivity" />
        <activity android:name="enlightenment.com.resources.PictureDisposalActivity" />

        <activity android:name="enlightenment.com.information.InformationActivity">
            <intent-filter>
                <action android:name="com.information.INFORMATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="enlightenment.com.details.ContentDetailsActivity" />

        <activity
            android:name="enlightenment.com.question.QuestionActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity android:name="enlightenment.com.user.SettingActivity" />

        <service android:name="enlightenment.com.service.SerMessageService" />
        <service android:name="enlightenment.com.service.UploadService">
            <intent-filter>
                <action android:name="com.enlightenment.UPLOAD_SERVICE" />
            </intent-filter>
        </service>


        <receiver android:name="enlightenment.com.recevicer.NetworkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>